BorderPane{
    -fx-background-color: #706f69;
}

AnchorPane{
    -fx-background-color: #8c8b87;
}

GridPane{
    -fx-background-color: #e8e3d7;
}

VBox{
    -fx-background-color: #e8e3d7;
    -fx-background-radius: 7.5;
    -fx-border-radius: 7.5;
}
