.button{
    -fx-background-color: #72B4ED;
    -fx-background-radius: 7.5;
    -fx-border-radius: 7.5;
    -fx-pref-height: 101.5;
    -fx-pref-width: 265;
    -fx-font-size: 24;
    -fx-font-weight: 800;
    -fx-font-color: rgba(0,0,0,1);
}
.button:pressed{
    -fx-background-color: rgba(217, 217, 217, 0.8);
}