.button{
    -fx-background-color: #a2cfc2;
    -fx-background-radius: 7.5;
    -fx-border-radius: 7.5;
    -fx-pref-height: 101.5;
    -fx-pref-width: 265;
    -fx-font-size: 24;
    -fx-font-weight: 800;
    -fx-font-color: rgba(0,0,0,1);
    -fx-border-color: #003a4b;
    -fx-border-width: 2;
    -fx-background-insets: 1;
}
.button:pressed{
    -fx-background-color: #6ed2b5;
}